body{
	font-size: 13px;
	background: #fff;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

@font-face {
	font-family: 'Aileron';
	src: url('Aileron-Bold.eot');
	src: url('Aileron-Bold.eot?#iefix') format('embedded-opentype'),
		url('Aileron-Bold.woff') format('woff'),
		url('Aileron-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Aileron';
	src: url('Aileron-BoldItalic.eot');
	src: url('Aileron-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('Aileron-BoldItalic.woff') format('woff'),
		url('Aileron-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Aileron';
	src: url('Aileron-SemiBold.eot');
	src: url('Aileron-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('Aileron-SemiBold.woff') format('woff'),
		url('Aileron-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Aileron';
	src: url('Aileron-Black.eot');
	src: url('Aileron-Black.eot?#iefix') format('embedded-opentype'),
		url('Aileron-Black.woff') format('woff'),
		url('Aileron-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Aileron';
	src: url('Aileron-UltraLightItalic.eot');
	src: url('Aileron-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('Aileron-UltraLightItalic.woff') format('woff'),
		url('Aileron-UltraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Aileron';
	src: url('Aileron-SemiBoldItalic.eot');
	src: url('Aileron-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('Aileron-SemiBoldItalic.woff') format('woff'),
		url('Aileron-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Aileron';
	src: url('Aileron-HeavyItalic.eot');
	src: url('Aileron-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url('Aileron-HeavyItalic.woff') format('woff'),
		url('Aileron-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Aileron';
	src: url('Aileron-Heavy.eot');
	src: url('Aileron-Heavy.eot?#iefix') format('embedded-opentype'),
		url('Aileron-Heavy.woff') format('woff'),
		url('Aileron-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Aileron';
	src: url('Aileron-Italic.eot');
	src: url('Aileron-Italic.eot?#iefix') format('embedded-opentype'),
		url('Aileron-Italic.woff') format('woff'),
		url('Aileron-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Aileron';
	src: url('Aileron-ThinItalic.eot');
	src: url('Aileron-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('Aileron-ThinItalic.woff') format('woff'),
		url('Aileron-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Aileron';
	src: url('Aileron-Thin.eot');
	src: url('Aileron-Thin.eot?#iefix') format('embedded-opentype'),
		url('Aileron-Thin.woff') format('woff'),
		url('Aileron-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Aileron';
	src: url('Aileron-UltraLight.eot');
	src: url('Aileron-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('Aileron-UltraLight.woff') format('woff'),
		url('Aileron-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Aileron';
	src: url('Aileron-Regular.eot');
	src: url('Aileron-Regular.eot?#iefix') format('embedded-opentype'),
		url('Aileron-Regular.woff') format('woff'),
		url('Aileron-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aileron';
	src: url('Aileron-Light.eot');
	src: url('Aileron-Light.eot?#iefix') format('embedded-opentype'),
		url('Aileron-Light.woff') format('woff'),
		url('Aileron-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Aileron';
	src: url('Aileron-LightItalic.eot');
	src: url('Aileron-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('Aileron-LightItalic.woff') format('woff'),
		url('Aileron-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Aileron';
	src: url('Aileron-BlackItalic.eot');
	src: url('Aileron-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('Aileron-BlackItalic.woff') format('woff'),
		url('Aileron-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

a:hover{
	text-decoration: none;
}

.top-contact{
    text-align: right;
    margin-top: 30px;
    position: relative;
    
}

.top-contact a{
	color: #1d1d1d;
	font-weight: 500;
	font-size: 16px;
	margin-left: 15px;
}

.top-contact .fa{
	color: #11b9b4;
	margin-right: 3px;
}

.navbar-brand{
	height: auto;
	padding: 20px 0px 0px 0px;
}

.page-header-fixed{
	padding-top: 100px;
}

.navbar-default .navbar-nav>li>a{
	color: #1d1d1d;
	font-weight: 500;
	font-size: 16px;
	padding: 0px 10px;
}

.navbar-default .navbar-nav>li:last-child{
	border-right: 0px; 
}
.navbar-default .navbar-nav>li{

	border-right: 2px solid #f1efef;
}

.navbar-nav{
	margin-top: 15px;
}

.dropdown-menu{
	top: 100%;
	background: #f2fafa;
}

.dropdown-menu>li>a{
	font-size: 14px;
}

.welcome-text{
	background-color: #1dd5b0; /* Old browsers */
	background-color: -moz-linear-gradient(top,  #1dd5b0 0%, #11b9b4 100%); /* FF3.6-15 */
	background-color: -webkit-linear-gradient(top,  #1dd5b0 0%,#11b9b4 100%); /* Chrome10-25,Safari5.1-6 */
	background-color: linear-gradient(to bottom,  #1dd5b0 0%,#11b9b4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dd5b0', endColorstr='#11b9b4',GradientType=0 ); /* IE6-9 */
	background-image: url(../../assets/img/welcome-bg.png);
	padding: 43px 0px;
	background-attachment: fixed;
}

.welcome-text h1{
	color: #fff;
	margin: 0px 0px 30px 0px;
	font-size: 43px;
	font-weight: 400;
}

.welcome-text h1 span{
	font-weight: 800;
}

.welcome-text p{
	color: #fff;
	margin: 0px;
	padding: 0px 130px;
	font-size: 17px;
	font-weight: 400;
}

.home-courses{
	background-color: #fff;
	padding: 43px 0px 0px 0px;
}

.home-courses h2{
	color: #11b9b4;
	margin: 0px 0px 0px 0px;
	font-size: 43px;
	font-weight: 400;
	text-align: center;
}

.home-courses-sec{
	background-image: url(../../assets/img/home-serviceBG.jpg);
	padding: 43px 0px 90px 0px;
	background-repeat: repeat;
}

.home-courses-sec h4{
	color: #000;
	margin: 20px 0px 40px 0px;
	font-size: 19px;
	font-weight: 600;
}

.home-courses-box img{
	 -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: box-shadow, transform;
	  transition-property: box-shadow, transform;
}

.home-courses-box:hover img{
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.home-courses-sec p{
	color: #5d5d5d;
	margin-bottom: 33px;
	text-align: left;
}

.courses-button-box a{
    background: #11b9b4;
    color: #fff;
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    display: inline-block;
    padding: 5px 25px;
    font-size: 15px;
    font-weight: 400;
    transition: 0.5s;
    transition: all 0.5s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.courses-button-box a:hover, .courses-button-box a:focus, .courses-button-box a:active {
  -webkit-transform: skew(0);
  transform: skew(0);
  -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.courses-button-box .fa{
    color: #11b9b4;
    font-size: 20px;
    top: 3px;
    left: 8px;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.courses-button-box:hover .fa{
	left: 15px;
}

.video-event{
	padding: 43px 15px;
}

.video-event h2{
	color: #11b9b4;
	margin: 0px 0px 10px 0px;
	font-size: 43px;
	font-weight: 500;
}

.video-box{
	position: relative;
}

.video-box::after{
    background: url(../../assets/img/video-shadow.png);
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0px;
    max-width: 558px;
    height: 16px;
    width: 100%;
}

.request-workshop{
	background-image: url(../../assets/img/request-workshop.png);
	padding: 43px 0px;
}

.request-workshop p{
    font-size: 39px;
    color: #fff;
    line-height: 38px;
    margin-bottom: 30px;
    padding: 0px 60px;
}

.request-workshop .courses-button-box a{
    font-size: 22px;
    font-weight: 400;
    padding: 10px 40px;
}

.request-workshop .courses-button-box .fa {
    font-size: 34px;
    top: 5px;
}

.testimonials{
	background-image: url(../../assets/img/testimonialBG.png);
	padding: 43px 0px;
	background-attachment: fixed;
}

.testimonials h4{
    color: #11b9b4;
    margin: 0px auto 40px auto;
    font-size: 43px;
    font-weight: 500;
    position: relative;
    text-align: center;
    display: block;
    max-width: 475px;
    width: 100%;
}

.testimonials h4::before{
    content: "//";
    position: absolute;
    top: 3px;
    left: 0px;
    font-size: 22px;
    font-weight: 700;
}

.testimonials h4::after{
    content: "//";
    position: absolute;
    top: 12px;
    right: 0px;
    font-size: 22px;
    font-weight: 700;
}

.more-testimonails{
	background: url(../../assets/img/more-testmonials-shadow.png) no-repeat;
	background-position: left;	
}

.more-testimonails .courses-button-box a{
    font-size: 21px;
    font-weight: 400;
    padding: 10px 10px;
    background: #f63132;
}

.more-testimonails .fa {
    font-size: 34px;
    top: 5px;
    color: #f63132;
}

.more-testimonails .courses-button-box{
	margin: 120px 0px;
	padding-left: 50px;
}

footer{
	background-image: url(../../assets/img/footer.png);
	background-color: #383838;
	padding: 43px 0px 0px 0px;
	background-attachment: fixed;
}

footer h2{
	font-size: 25px;
	color: #989898;
	margin: 0px 0px 15px 0px;
}

footer ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

footer ul li{
	position: relative;
	margin-bottom: 15px;
}

footer ul li::before {
    position: relative;
    content: "\f105";
    left: 0px;
    color: #838383;
    top: 0px;
    margin-right: 7px;
    font-family: FontAwesome;
}
footer ul li a{
	color: #fff;
}

footer ul li a:hover{
	color: #00ACAC;
}

footer .form-control{
	background: #444444;
	color: #fff;
	border: 1px solid #616161;
}

.courses-button-box button{
    background: #11b9b4;
    color: #fff;
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    display: inline-block;
    padding: 5px 25px;
    font-size: 15px;
    font-weight: 400;
    transition: 0.5s;
    transition: all 0.5s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    border: 0px;
    float: right;
}

.courses-button-box button:hover, .courses-button-box button:focus, .courses-button-box button:active {
  -webkit-transform: skew(0);
  transform: skew(0);
  -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

footer .media, footer .media-body{
	color: #fff;
}

footer .media .fa {
	color: #fff;
	display: inline;
	font-size: 16px;
}

.bottomUl ul li{
	display: inline;
}

.bottomUl{
	display: inline;
	margin-top: 30px;
	margin-bottom: 10px;
}

.bottomUl ul li::before{
	content: "|";
}

.bottomUl ul li:first-child::before{
	content: "";
}

.design{
	text-align: right;
}

.design .fa{
	color: #f00;
}

.bottom-footer{
	padding: 15px 15px;
}

.bottom-footer a{
	color: #11b9b4;
}

.main-container {
	margin: 102px 0px 0px 0px;
}
.skyblue {
    background-color: #22c8ff;
}
.deepskyblue {
    /*background-color: #00bfff;*/
    background: url(../../assets/img/slider1.jpg);
}
.darkerskyblue {
    background-color: #00a6dd;
}
.carousel-indicators {
    bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}
.carousel .item {
    min-height: 550px; 
    height: 100%;
    width:100%; 
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
    color: #11b9b4;
}



.carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}
.carousel-caption button {
    border-color: #00bfff;
    margin-top: 1em; 
}

/* Animation delays */
.carousel-caption h3:first-child {
    animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
    animation-delay: 2s;
}
.carousel-caption button {
    animation-delay: 3s;
}

h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

.p {
  padding-top: 125px;
  text-align: center;
}

.p a {
  text-decoration: underline;
}

.carousel-caption{
	left: 5%;
	top: 35%;
}

.carousel-caption h3{
	padding: 0px;
	display: table;
	font-size: 57px;
}

h3.text-banner{
	color: #000;
	text-align: left;
	font-size: 21px;
	float: left;
}

.navbar-brand {
    font-size: 24px;
}


.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

.navbar{
	background: #fff;
}

.navbar-nav>li>a{
	padding: 10px 10px;
}

.navbar.navbar-fixed-top.fixed-theme{
	background: #fff;
}

.navbar.navbar-fixed-top.fixed-theme .navbar-brand{
	padding-top: 5px;
}

.navbar.navbar-fixed-top.fixed-theme .navbar-brand img{
	width: 80px;
}

.navbar.navbar-fixed-top.fixed-theme .top-contact{
	display: none;
}

.testimonials .item img{

        float: left;
        margin-right: 15px;
        border: 1px solid rgb(0, 172, 172);
        border-radius: 100%;
        padding: 4px;
        background: rgba(0, 172, 172, 0.18);

}



.testimonials .item blockquote{
	border-left: 0px;
}

.testimonials .carousel .item{
	min-height: 250px;
}

.testimonials .item blockquote span.name{
	display: block;
	color: #11b9b4;
	font-size: 17px;
	font-weight: 300;
}

.testimonials .item blockquote span.college{
	display: block;
	color: #000;
	font-size: 17px;
	font-weight: 300;
}

.testimonials .item blockquote p{
	color: #5d5d5d;
	font-size: 17px;
	font-weight: 400;
	margin-top: 15px;
}

.testimonials .item blockquote p .fa{
	color: #f63132;
	font-size: 17px;
}

.testimonials .carousel-indicators{
	z-index: 999;
	bottom: -70px;
}

.testimonials .carousel-indicators li{
	background-color: #fff;
	border: 1px solid #dbe9ef;
	border-radius: 0;
	width: 15px;
	height: 15px;
}

.testimonials .carousel-indicators .active{
	background: #11b9b4;
}

.mega-menu {
	padding: 10px 15px ! important;
	width: 540px;
	border-radius: 0;
	margin-top: 0px;
	background: #f2fafa;
}

.mega-menu li {
	display: inline-block;
	float: left;
	padding: 0px 0px;
	width: 100%;
}

.mega-menu li.mega-menu-column {
	width: 50%;
}

.mega-menu .nav-header {
	border-bottom: 1px solid #e3eef4;
	padding: 0 !important;
	margin: 10px 0px;
	display: inline-block;
	width: 100%;
}

.mega-menu .nav-header .fa-arrow-circle-o-right{
	color: #15bab5;
}

.mega-menu .nav-header strong{
	font-size: 16px;
	font-weight: 400;
	color: #000;
}

.mega-menu img { 
	padding-bottom: 10px;
}

.mega-menu li.mega-menu-column ul{
	padding: 0px 20px 0px 0px;
}

.mega-menu li.mega-menu-column ul li{
	display: block;
	padding-left: 20px;
}

.mega-menu li.mega-menu-column ul li a{
	font-size: 14px;
	color: #515151;
	font-weight: 200;
}

.home-portfolio .leftt{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #f63132;
    padding-top: 6px;
    font-size: 46px;
    top: 32%;
    right: -30px !important;
}


.home-portfolio .rightt{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #f63132;
    padding-top: 6px;
    font-size: 46px;
    top: 32%;
    left: -30px !important;
}

.home-portfolio .carousel .item{
	min-height: auto;
}

.home-portfolio .carousel-indicators {
    right: 50%;
    top: auto;
    top: -28px;
    margin-right: -19px;
}

/* The indicators */
.home-portfolio .carousel-indicators {
	right: 50%;
	top: -27px;
	margin-right: -19px;
}
/* The colour of the indicators */
.home-portfolio .carousel-indicators li {
	background: #fff;
	border: 1px solid #dbe9ef;
	border-radius: 0px;
}
.home-portfolio .carousel-indicators .active {
background: #11b9b4;
}

.home-portfolio h4{
    color: #11b9b4;
    margin: 0px auto 40px auto;
    font-size: 43px;
    font-weight: 500;
    position: relative;
    text-align: center;
    display: block;
    max-width: 475px;
    width: 100%;
}

.home-portfolio{
	padding: 43px 0px;
}

.home-portfolio .thumbnail{
	padding: 0px;
	border-radius: 0px;
	height: 262px;
	border: 0px;
}

.home-portfolio .thumbnail img{
	height: 100%;
}

.home-portfolio .col-md-4{
	padding: 0px 1px;
}

.home-portfolio .courses-button-box{
    margin: 0px auto;
    display: block;
    max-width: 140px;
}

.home-portfolio .courses-button-box a{
    font-size: 21px;
    font-weight: 400;
    padding: 10px 10px;
    background: #f63132;
}

.home-portfolio .courses-button-box .fa {
    font-size: 34px;
    top: 5px;
    color: #f63132;
}

.menu-bar {
    position: absolute;
    top: 20px;    
    left: 50%;
    height: 14px;
    margin-left: -10px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;    
    background-color: #333;
    box-shadow: 0 5px 0 #333, 0 10px 0 #333;
}

.menu {
    display: none; 
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    position: absolute;
    right: 0px;
    width: 150px;
}
.menu ul {
    margin-bottom: 0;
}
.menu ul li{
	display: block;
	width: 100%;
	text-align: left;
	padding: 8px 5px;
}
.menu a {
    color: #333; 
}
.menu a:hover {
    text-decoration: none;
    opacity: 1;
}

.nav>li>a {
	font-size: 15px;
	color: #000;
}

#nav-icon1{
  width: 23px;
  height: 23px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 6px;
}

#nav-icon1 span:nth-child(3) {
  top: 12px;
}

#nav-icon1.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.inner-banner img{
	max-width: 100%;
}

.inner-style h1{
	text-align: center;
	font-size: 43px;
	color: #11b9b4;
	font-weight: 400;
	margin: 0px 0px 35px 0px;
}

.inner-style h1 span{
	display: block;
	font-size: 18px;
	font-weight: 500;
	color: #5d5d5d;
}

.contact-page-box{
	min-height: 115px;
	border: 1px solid #dfdfdf;
	max-width: 340px;
	display: flex;
	padding: 15px 0px;
	overflow: hidden;
}

.contact-page-box span{
	display: block;
	font-size: 18px;
	font-weight: 500;
	color: #5d5d5d;
	margin-top: 10px;
}

.contact-add-form{
	margin-top: 43px;
	margin-bottom: 43px;
}

.contact-form{
	padding-left: 90px;
	border-left: 1px solid #dfdfdf;
}

.contact-address{
	padding-left: 90px;
	font-size: 18px;
	padding-top: 95px;
}

.contact-address span{
	text-align: center;
	display: block;
	color: #11b9b4;
	font-size: 18px;
	padding-top: 35px;
	padding-bottom: 15px;
}

.contact-address a{
    background: #11b9b4;
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 22px;
    display: inline-block;
    padding-top: 5px;
    border-radius: 100%;
}

.contact-address p{
	color: #5d5d5d;
	margin-bottom: 25px;
}

.contact-form-box{
	background: #11b9b4;
	padding: 30px 20px;
}

.contact-form-box button{
    background: #f63132;
    color: #fff;
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    display: inline-block;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 400;
    transition: 0.5s;
    transition: all 0.5s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    border: 0px;
    float: left;
}

.contact-form-box button:hover, .contact-form-box button:focus, .contact-form-box button:active {
  -webkit-transform: skew(0);
  transform: skew(0);
  -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.contact-form-box .courses-button-box .fa {
    color: #fff;
    font-size: 20px;
    top: 8px;
    left: 8px;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.contact-form-box .courses-button-box:hover .fa{
	left: 15px;
}

.contact-form-box  .form-control{
	height: 40px;
	border-radius: 0px;
	font-size: 16px;
	color: #868686;
}

.contact-form-box  textarea.form-control{
	height: 100px;
}

.google-map{
	border-top: 1px solid #bfbebe;
}

.google-map iframe{
	width: 100%;
	height: 490px;
}

.inner-style img{
	max-width: 450px;
	margin-right: 25px;
	margin-bottom: 25px;
}

.contact-address img{
	margin: 0px;
}

.contact-page-box img{
	margin: 0;
}

.inner-style h2{
	font-size: 19px;
	color: #000;
	margin: 0px 0px 10px 0px;
}

.inner-style p{
	color: #5d5d5d;
	line-height: 18px;
	font-weight: 500;
	margin-bottom: 20px;
}

.content-page-post{
	margin-bottom: 25px;
	margin-top: 25px;
}

.content-page-post-left{
	padding-left: 0px;
}

.content-page-post h4{
	font-size: 41px;
	color: #11b9b4;
	font-weight: 300;
}


.tab-box p:last-child{
	border-bottom: 1px dashed #a1a1a1;
	padding-bottom: 15px;
}

span.disignation{
	min-width: 200px;
	font-size: 17px;
	display: block;
}

.table>thead>tr>th {
    color: #11b9b4;
    font-weight: 300;
    line-height: 18px;
    font-size: 24px;
    background: #f7f7f7;
    border-bottom: 1px solid #ababab!important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border-color: #ababab;
}

.table>thead:first-child>tr:first-child>th{
	border-top: 1px solid #ababab;
}


.career-sidebar{
	border: 1px solid #ababab;
	padding: 20px 15px;
	margin-bottom: 15px;
}

.career-sidebar h5{
	font-size: 34px;
	color: #11b9b4;
}

.career-sidebar h5 span{
	font-weight: 700;
}

.career-sidebar ul{
	list-style: none;
	padding-left: 0px;
}

.career-sidebar ul li{
	border-bottom: 1px dashed #11b9b4;
	margin-bottom: 10px;
}

.career-sidebar ul li a{
	color: #11b9b4;
	font-size: 16px;
	font-weight: 400;
}

.career-sidebar ul li a img{
    margin: 0px 10px 10px 0px;
    border: 1px solid #ababab;
    padding: 8px 8px;
}

.sidebar-enquire h6{
	background: #f63132;
	color: #fff;
	padding: 0px 15px 15px 15px;
	font-size: 34px;
	margin: 0px;
}

.sidebar-enquire h6 span{
	font-weight: 700;
}

.sidebar-enquire img{
	max-width: 100%;
	margin: 0px;
}

.sidebar-form{
	background: #11b9b4;
	padding: 15px;
}

.sidebar-form .input-group{
	margin-bottom: 10px;
	width: 100%;
}

.sidebar-form .input-group .form-control{
	border-color: #089894;
	padding-left: 0px;
	font-size: 16px;
	height: 40px;
}

.form-control:focus{
	border-color: #089894;
}

.sidebar-form .input-group .input-group-addon .fa{
	color: #11b9b4;
	font-size: 16px;
}

.input-group-addon{
    background: #fff;
    border: 1px solid #089894;
    left: 1px;
    position: relative;
    z-index: 9;
    width: 41px;
}

.sidebar-form .input-group textarea.form-control{
	border-color: #089894;
	padding-left: 0px;
	height: 60px;
}

.sidebar-form .input-group-mess .fa{
	position: relative;
	top: -16px;
}

.sidebar-form .courses-button-box button {
    background: #f63132;
    color: #fff;
    padding: 8px 20px;
    float: left;
    font-size: 18px;
}

.sidebar-form .courses-button-box{
	display: inline-block;
}

.sidebar-form .courses-button-box .fa{
	color: #fff;
	top: 10px;
}

.sidebar-enquire{
	margin-bottom: 15px;
}

.placement-box{
	border: 1px solid #ababab;	
	background: #f1fafa;
	margin-bottom: 25px;
	max-height: 202px;
}

.placement-box-text{
	padding: 15px;
	background: #fff;
}

.placement-box-text span{
	display: block;
	margin-bottom: 10px;
	color: #5d5d5d;
	line-height: 17px;
}

.placement-box-text span.placement{
	margin-bottom: 5px;
	font-size: 15px;
	color: #11b9b4;
}

.placement-box-text img{
	float: left;
	border: 1px solid #ababab;
	margin-right: 15px;
	max-width: 85px;
}

.placement-box-footer{
	display: inline-block;
	width: 100%;
	height: 40px;
	padding: 0px 0px;
	border-top: 1px solid #ababab;
}

.placement-box-footer span{
	display: block;
	color: #5d5d5d;
	line-height: 17px;
}

.placement-box-footer span.active-jobs{
	font-size: 17px;
	color: #373737;
	margin-top: 6px;
}

.send-button{
	border-left: 1px solid #ababab;
}

.send-button a{
    font-size: 21px;
    color: #373737;
    height: 42px;
    float: left;
    padding-top: 9px;
}

.r-tabs{
	margin-bottom: 25px;
}


.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 10px 15px 0px 15px;
    background: #154748;
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
    width: 32.5%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.r-tabs .r-tabs-tab a img{
	display: block;
	margin: 0px auto;
	padding-bottom: 10px;
}

.r-tabs .r-tabs-tab a{
	color: #fff;
	font-size: 24px;
	font-weight: 200;
}

.r-tabs .r-tabs-tab a:focus, .r-tabs .r-tabs-tab a:active{
	text-decoration: none;
}

.r-tabs .r-tabs-panel {
    padding: 15px;
    display: none;
    border: 1px solid #ababab;
}

.r-tabs .r-tabs-panel hr{
	border: 1px dashed #a1a1a1;
}

.r-tabs .r-tabs-panel ul{
	list-style: none;
	padding-left: 0px;
}

.r-tabs .r-tabs-panel ul li{
	position: relative;
	font-size: 13px;
	color: #11b9b4;
	line-height: 18px;
}

.r-tabs .r-tabs-panel ul li::before{
	content: "\f105";
	font-family: FontAwesome;
	left: 0px;
	top: 0px;
	color: #11b9b4;
	margin-right: 5px;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
    background: #fff;
}

.r-tabs-state-active{
	background: #20595a;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
        background: #154748;
        text-align: center;
        border-bottom: 1px solid #fff;
        padding: 15px 0px;
    }
    .r-tabs .r-tabs-accordion-title a{
    	color: #fff;
    	display: block;
    }
    .r-tabs .r-tabs-accordion-title a img{
    	margin: 0px auto 10px auto;
    	display: block;
    }
}


.service-tab .r-tabs .r-tabs-tab{
	width: auto;
	padding-bottom: 45px;
	padding-left: 28px;
	padding-right: 28px;
}


.service-tab .r-tabs .r-tabs-panel{
	float: left;
	width: 100%;
}

.service-tab .tab-box img{
	float: left;
	margin-bottom: 0;
}

.service-tab .tab-box h6{
	color: #000;
	font-size: 19px;
}

.service-tab .r-tabs-nav{
	background: transparent;
}

.service-tab .r-tabs-state-active{
	background: url(../../assets/img/active-tab.png) no-repeat;
	background-position: center 42px;
}

.service-tab .r-tabs .r-tabs-tab a {
    color: #7D7D7D;
    font-size: 24px;
    font-weight: 200;
}

.service-tab .r-tabs .r-tabs-panel{
	border-color: transparent;
}

.service-tab .r-tabs-state-active a{
	color: #11b9b4 !important;
}

.testimonial-text h6{
	font-size: 29px;
	color: #11b9b4;
	margin: 0px 0px 20px 0px;
	display: block;
}

.testimonial-text h6 span{
	display: block;
	font-size: 12px;
	color: #000;
	margin-top: 10px;
}

.testimonial-text p .fa{
    font-size: 30px;
    color: #00ACAC;
}

.testimonial-video iframe{
	max-height: 100%;
	width: 100%;
	min-height: 205px;
}

.testimonial-video{
	position: relative;
}

.testimonial-video::after{
    content: "";
    bottom: 21px;
    left: 0px;
    height: 10px;
    width: 100%;
    position: absolute;
    padding: 0px 15px;
    background: url(../../assets/img/testimonial-shadow.png) no-repeat;
    background-position: center;
}

.testimonial-video{
	padding-bottom: 25px;
}

.testi-video-box{
	margin-bottom: 15px;
	border-bottom: 1px dashed #a1a1a1;
	display: inline-block;
}

.btn.btn-default{
	background: transparent;
	border: 1px solid #11b9b4;
	color: #11b9b4;
	padding: 5px 12px;
	font-size: 17px;
	border-radius: 0px;
	-webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    transition: 0.5s;
    transition: all 0.5s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.btn-default.active, .btn.btn-default:active, .btn-default:focus, .btn-default:hover, .open .dropdown-toggle.btn-default{
	background: #11b9b4;
	color: #fff;
}

.gallery .image{
	padding: 5px;
}

.hover-div{
    position: absolute;
    bottom: 25px;
    width: 100%;
    display: none;
}

.popup-title{
    background: rgba(17,185,180,0.45);
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 15px 0px;
}

.popup-icon{
    position: relative;
    top: -38px;
    left: 42%;
    font-size: 59px;
}

.popup-icon .fa-search{
	color: rgba(255,255,255,1);
	text-shadow: 0px 2px 3px rgba(0,0,0,0.75);
}

.image-inner:hover .hover-div{
	display: block;
}

.upcoming-event-sec h4{
    font-size: 28px;
    color: #11b9b4;
    font-weight: 700;
}

.upcoming-box{
	border-bottom: 1px dashed #a1a1a1; 
	display: inline-block;
	width: 100%;
	padding: 20px 0px;
}

.eventimage-box{
	padding: 0px;
	position: relative;
}

.eventimage-box img{
	max-width: 100%;
	margin: 0px;
}

.even-date{
    width: 61px;
    height: 61px;
    line-height: 25px;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    background: #f63132;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    padding: 7px 0px 0px 0px;
}

.even-date span{
	font-size: 28px;
	font-weight: 500;
}

.event-txt h6{
	font-size: 19px;
	color: #000;
	font-weight: 700;
}

.event-txt span{
	font-size: 15px;
	color: #5d5d5d;
	padding: 5px 0px;
	display: block;
}

.event-txt span img{
	margin: 0px 10px 0px 0px;
}

.event-txt p{
	margin-top: 25px;
}

#clock{
	padding-left: 2%;
	width: 100%;
	display: inline-block;
	text-align: center;
}

#clock div{
	width: 19%;
	margin-right: .5%;
	float: left;
	color: #11b9b4;
	font-size: 14px;
}

#clock div span{
	display: block;
	border: 1px solid #ababab;
	border-radius: 4px;	
	font-size: 24px;
	font-weight: 300;
	color: #5d5d5d;
	margin-bottom: 10px;
	padding: 15px 0px;
}

.counter{
	margin-bottom: 15px;
	padding: 20px 0px;
	border: 1px solid #ababab;
}

.counter h5{
	font-size: 34px;
	color: #11b9b4;
	padding-left: 5px;
}

.counter h5 span{
	font-weight: 700;
}

.counter .event-txt{
	padding: 0px 10px;
}

.counter .event-txt span img{
	float: left;
}

.video-box iframe{
	max-width: 100%;
}

.navbar-toggle .icon-bar{
	background: #000;
}

.form-horizontal .form-group{
	margin: 0px 0px 10px 0px;
}

.carousel .carousel-control .fa{
	margin-left: 24px;
}

.video-right{
	margin-top: 30px;
}

.video-right:nth-child(1), .video-right:nth-child(2){
	margin-top: 0px;
}

.video-right span{
	font-size: 19px;
	display: block;
	color: #000;
}

.video-right span.large-text{
    display: block;
    font-size: 45px;
    font-weight: 600;
    color: #234342;
    line-height: 70px;
}

.sidebar-form li.parsley-required{
	display: none;
}

@media only screen and (max-width: 480px){
	.navbar-brand>img{
		width: 90px;
	}
	.navbar-brand{
		padding-top: 5px;
	}
	.main-container {
	    margin: 62px 0px 0px 0px;
	}
	.carousel-caption{
		top: 0px;
	}

	.carousel .item{
		min-height: 260px;
	}
	.carousel-caption h3{
		font-size: 34px;
	}
	h3.text-banner{
		font-size: 17px;
	}
	.welcome-text h1{
		font-size: 32px;
	}
	.welcome-text p{
		padding: 0px 15px;
	}
	.home-courses-box{
		margin-bottom: 20px;
	}
	.request-workshop p{
		padding: 0px 15px;
	}
	.request-workshop .courses-button-box a {
	    font-size: 17px;
	    padding: 10px 10px;
	}
	.more-testimonails{
		display: none;
	}
	.home-portfolio .leftt{
		right: 0px !important;
	}
	.home-portfolio .rightt{
		left: 0px !important;
	}
	.home-portfolio .carousel .item{
		padding: 0px 15px;
	}
	.testimonials .item blockquote{
		float: left;
	}
	.testimonials .carousel-indicators{
		bottom: -35px;
	}
	.copyright{
		width: 100%;
		text-align: center;
	}
	.design{
		width: 100%;
		text-align: center;
	}
	.contact-page-box{
		display: block;
		margin-bottom: 15px;
	}
	.contact-form{
		margin-top: 25px;
	}
	.testimonials .carousel .item {
	    min-height: 310px;
	}
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
		max-height: 100%;
		width: 100%;
	}
	.navbar-nav{
		width: 100%;
	}
	.top-contact{
		display: block;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px){
	.navbar-brand>img{
		width: 90px;
	}
	.navbar-brand{
		padding-top: 5px;
	}
	.main-container {
	    margin: 62px 0px 0px 0px;
	}
	.carousel-caption{
		top: 0px;
	}

	.carousel .item{
		min-height: 260px;
	}
	.carousel-caption h3{
		font-size: 34px;
	}
	h3.text-banner{
		font-size: 17px;
	}
	.welcome-text h1{
		font-size: 32px;
	}
	.welcome-text p{
		padding: 0px 15px;
	}
	.home-courses-box{
		margin-bottom: 20px;
	}
	.request-workshop p{
		padding: 0px 15px;
	}
	.request-workshop .courses-button-box a {
	    font-size: 17px;
	    padding: 10px 10px;
	}
	.more-testimonails{
		display: none;
	}
	.home-portfolio .leftt{
		right: 0px !important;
	}
	.home-portfolio .rightt{
		left: 0px !important;
	}
	.home-portfolio .carousel .item{
		padding: 0px 15px;
	}
	.testimonials .item blockquote{
		float: none;
	}
	.testimonials .carousel-indicators{
		bottom: -35px;
	}
	.copyright{
		width: 100%;
		text-align: center;
	}
	.design{
		width: 100%;
		text-align: center;
	}
	.contact-page-box{
		max-width: 100%;
		display: block;
		margin-bottom: 15px;
	}
	.contact-form{
		margin-top: 15px;
	}
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
		max-height: 100%;
		width: 100%;
	}
	.navbar-nav{
		width: 100%;
	}
	.top-contact{
		display: block;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
	
}

@media only screen and (min-width: 768px) and (max-width: 1000px){
	.navbar-brand{
		width: 98px;
	}
	.navbar.navbar-fixed-top.fixed-theme .navbar-brand{
		margin-left: 10px;
	}
	.navbar-nav>li>a{
		padding: 10px 6px; 
	}
	.main-container {
	    margin: 118px 0px 0px 0px;
	}
}
.sidebar-testimonial{
	border: 1px solid #ababab;
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 25px;
	margin-bottom: 15px;
}

.sidebar-testimonial img {
    max-width: 450px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 100px;
    height: 100px !important;
    float: left;
    border-radius: 100%;
}

.sidebar-testimonial blockquote span.name{
	font-size: 15px;
	color: #11b9b4;
	display: block;
	margin-bottom: 10px;
}

.sidebar-testimonial blockquote span.college{
	font-size: 15px;
	margin-bottom: 10px;
	display: block;
}

.sidebar-testimonial blockquote{
	color: #5d5d5d;
	font-style: italic;
	margin: 0px;
	border-left: 0px;
	font-size: 15px;
	padding: 0px;
}

.sidebar-testimonial blockquote p{
	margin: 0px;
}

.sidebar-testimonial .carousel .item{
	min-height: auto;
}

.sidebar-testimonial h5 {
    font-size: 30px;
    color: #11b9b4;
    margin-bottom: 20px;
}

.sidebar-testimonial h5 span {
    font-weight: 700;
}

.sidebar-testimonial .carousel-indicators {
    bottom: -34px;
}

.carousel-indicators li{
	background: #000;
}

.carousel-indicators li.active{
	background: #008a8a;
}


.sidebar-gallery .carousel .item{
	min-height: auto;
}

.sidebar-gallery h5 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
    background: #11B9B4;
    margin: 0px;
    padding: 30px 15px 15px 15px;
}
.sidebar-gallery h5 span {
    font-weight: 700;
}

.sidebar-gallery{
	border: 1px solid #ababab;
	display: block;
	margin-bottom: 15px;
}

.sidebar-gallery img{
	margin: 0px;
	width: 100%;
	max-height: 180px;
}

.sidebar-gallery .carousel-caption{
	position: relative;
	background: #11b9b4;
	left: 0px;
	top: 0px;
}

.sidebar-gallery .carousel-caption span{
	text-align: left;
	padding-left: 15px;
	display: block;
	text-shadow: none;
}

.sidebar-gallery .carousel-caption span.name{
	font-weight: bold;
	color: #000;
}

.sidebar-gallery .carousel-control{
	top: -40%;
}

.sidebar-gallery .icon-next, .sidebar-gallery .icon-prev{
	height: 35px;
	background: #ccc;
}
.sitemapbox{
	float: left;
	width: 25%;
}

.sitemapbox h6{
	font-size: 28px;
	color: #15bab5;
}

.sitemapbox ul{
	border-left: 2px solid #15bab5;
	margin-left: 15px;
	list-style: none;
	padding-left: 0px;
	float: left;
	width: 100%;
}

.sitemapbox ul li{
	position: relative;
	padding: 10px 0px 10px 20px;
	width: 100%;
	float: left;
}

.sitemapbox ul li:first-child{
	margin-top: 25px;
}

.sitemapbox ul li::before{
	position: absolute;
	left: 0px;
	top: 17px;
	content: "";
	width: 15px;
	height: 2px;
	background: #15bab5;
}

.sitemapbox ul li a{
	font-size: 16px;
	color: #1d1d1d;
}

.sitemapbox ul li a .fa{
	color: #15bab5;
}

.sitemapbox ul li h6{
	margin-top: 0px;
	font-size: 16px;
	color: #1d1d1d;
}

.mega-menu li.mega-menu-column ul li a:hover {
    color: #11B9B4;
}

.sitemapbox ul li a:hover {
    color: #11B9B4;
}

.trans-background{
	background: rgba(0,0,0,0);
	width: 100%;
	height: 494px;
	position: absolute;
	z-index: 1;
}

.google-map iframe{
	pointer-events: none;
}
footer p{
	color: #fff;
}

footer h3 {
    font-size: 25px;
    color: #989898;
    margin: 25px 0px 15px 0px;
    display: inline-block;
    width: 100%;
}

.socail-icon a{
    border: 5px solid #444;
    background: #fff;
    width: 40px;
    float: left;
    height: 40px;
    border-radius: 100%;
    padding-top: 7px;
    text-align: center;
	margin-right:5px;
}

.socail-icon a .fa-facebook{
	color: #3b5998;
}

.socail-icon a .fa-twitter{
	color: #39b1e3;
}

.socail-icon a .fa-linkedin{
	color: #007ab5;
}

.socail-icon a .fa-google-plus{
	color: #f00;
}

.socail-icon a .fa-youtube{
	color: #ee3a3a;
}

.socail-icon a .fa-rss{
	color: #fb7629;
}

.applypopup .modal-content{
	background: #11b9b4;
}

.applypopup .modal-header{
	border-color: transparent;
}

.applypopup .modal-footer{
	border-color: transparent;
	display: flex;
	padding-bottom: 25px;
}

.applypopup .modal-title{
	font-size: 38px;
	color: #fff;
}

.applypopup .modal-body{
	display:inline-block;
}

.applypopup .btn.btn-default{
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.applypopup .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.applypopup .modal-dialog{
	margin-top: 100px;
}

.applypopup img.header-circle {
   margin-top: -102px;
}

